.idea/* linguist-vendored
Assets/QuickOutline/* linguist-vendored
Assets/TextMesh?Pro/* linguist-vendored
Packages/* linguist-vendored
ProjectSettings/* linguist-vendored

*.asset linguist-vendored
*.mat linguist-vendored
*.meta linguist-vendored
*.prefab linguist-vendored
*.unity linguist-vendored
